@font-face {
    font-family: AllFont;
    src: url(https://cdn.jsdelivr.net/gh/hyusiter/alist-static@master/HarmonyOS_Sans_SC_Medium.subset.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

*:not([class*=icon]):not(i) {
    font-family: AllFont !important
}

#root,
.App,
body,
html {
    min-height: 70vh;
    margin: 0;
    padding: 0;
    margin-top: 1% !important
}

.chakra-ui-light .main-box,
.chakra-ui-light .readme-box {
    background-color: rgba(255, 255, 255, .8) !important
}

.main-box {
    border-radius: 15px !important;
}

.readme-box {
    border-radius: 15px !important;
    box-shadow: unset !important
}

div.footer.css-3m0ceo {
    display: none !important
}

.foot {
    line-height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px
}

#copy {
    background-color:pink!important;
    border-radius: 10px !important
}

.chakra-ui-light {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.chakra-ui-light {
    background-image: url(https://img.imoeq.com/i/2022/08/07/panbg.jpg);
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:960px) {
    .chakra-ui-light {
        background-image: url(https://img.imoeq.com/i/2022/07/28/mobile.jpg);
        background-position: center;
        background-attachment:fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
